<!DOCTYPE html>
<html>
<head>
	<title>Learn Python</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

	<link rel="shortcut icon" type="text/css" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>


	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">
		  	<img src="{{ url_for('static', filename='images/pythonlogo.png') }}" style="max-width: 80px; margin-top: -5px;">
		  Learn pythhon</a>
		  

		</nav>
	</header>

	
	

</body>
</html>